/*常用css標籤格式化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{
	margin:0;padding:0;
}
ol,ul{
	list-style:none;
}
img{
	vertical-align: middle;
	border: 0px;
}
a {
	font-size: 10pt;
	color: #2E375A;
	text-decoration: underline;
}


/*隱藏區塊用css*/
.display_none {
	display: none;
}
/*背景圖片css*/
.whole_bg {
	background-image: url(../img/whole_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFF;
}

/*最外側的div*/
#out_side_div {
	position: relative;
	width: 970px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	
}
#link_div{
	height: 15px;
	width: 500px;
	clip: rect(auto,auto,auto,auto);
}
#banner_area {
	position: relative;
	height: 242px;
	width: 970px;
	background-image: url(../img/sj_banner.gif);
	background-repeat: no-repeat;
}
#main_button_div {
	position: relative;
	width: 100%;
	margin-top: 3px;
	height: 230px;
}
/*<a>職涯導航按鈕的樣式*/
#main_button_guide {
	position: relative;
	background-image: url(../img/main_button/main_button_guide.gif);
	display: block;
	float: left;
	height: 230px;
	width: 240px;
}
/*<a>找尋工作按鈕的樣式*/
#main_button_search_job {
	background-image: url(../img/main_button/main_button_search_job.gif);
	display: block;
	float: left;
	height: 230px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
/*<a>蒐獵人才按鈕的樣式*/
#main_button_search_talent {
	background-image: url(../img/main_button/main_button_search_talent.gif);
	display: block;
	float: left;
	height: 230px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
/*<a>職涯輔導按鈕的樣式*/
#main_button_counselling {
	background-image: url(../img/main_button/main_button_counselling.gif);
	display: block;
	float: left;
	height: 230px;
	width: 240px;
	position: relative;
	margin-left: 4px;
}
/*快速尋找工作區塊外圍*/
#quickly_search_div {
	width: 727px;
	position: relative;
	float: left;
	margin-top: 3px;
}
/*快速尋找工作區塊頂端*/
#quickly_search_div .quickly_search_box_head {
	height: 42px;
	width: 100%;
	background-image: url(../img/quickly_search_box/quickly_search_box_head.gif);
	background-repeat: no-repeat;
	position: relative;
}
#quickly_search_div .quick_search_head_select_area {
	position: relative;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

/*快速尋找工作區塊內容*/
#quickly_search_div .quickly_search_box_mid {
	background-image: url(../img/quickly_search_box/quickly_search_box_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width: 725px;
	position: relative;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FF9000;
	border-left-color: #FF9000;
	height: 210px;
	padding-top: 10px;
}
/*快速尋找工作區塊下端*/
#quickly_search_div .quickly_search_box_foot {
	background-image: url(../img/quickly_search_box/quickly_search_box_foot.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 20px;
	width: 100%;
}
/*最新職場分享的div*/
#exp_share_div {
	width: 240px;
	position: relative;
	float: right;
	margin-top: 3px;
}
/*最新職場分享區塊頂端*/
#exp_share_div .exp_share_head {
	background-image: url(../img/exp_share_box/exp_share_box_head.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 42px;
	width: 100%;
}
/*最新職場分享區塊的內容*/
#exp_share_div .exp_share_mid {
	height: 220px;
	width: 238px;
	position: relative;
	background-image: url(../img/exp_share_box/exp_share_box_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #0600ff;
	border-left-color: #0600ff;
}
/*最新職場分享區塊下端*/
#exp_share_div .exp_share_foot {
	background-image: url(../img/exp_share_box/exp_share_box_foot.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 20px;
	width: 100%;
}
#exp_share_div .exp_share_menu_div {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	height: 26px;
	padding-left: 5px;
}

/*.exp_share_meun_1是分頁選項作用中的樣式*/
#exp_share_div .exp_share_meun_1 {
	font-size: 10pt;
	text-decoration: none;
	color: #FFF;
	display: block;
	height: 20px;
	width: 70px;
	text-align: center;
	position: relative;
	float: left;
	padding-top: 5px;
	background-image: url(../img/exp_share_box/arr_up.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-left-color: #FFF;
}

/*.exp_share_meun_1是分頁選項沒有作用中的樣式*/
#exp_share_div .exp_share_meun_0 {
	font-size: 10pt;
	text-decoration: none;
	color: #1D2438;
	display: block;
	height: 20px;
	width: 70px;
	text-align: center;
	position: relative;
	float: left;
	padding-top: 5px;
}
/*數字區塊選單區塊的div*/
.number_foot_div {
	position: relative;
	height: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 230px;
}
/*數字項目作用中的樣式*/
.number_foot_div .number_item_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 12px;
	width: 12px;
	background-color: #F30;
	text-align: center;
	margin-left: 5px;
	float: left;
	border: 1px solid #F00;
}
/*數字項目沒有作用中的樣式*/
.number_foot_div .number_item_0 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 12px;
	width: 12px;
	background-color: #FFF;
	text-align: center;
	margin-left: 5px;
	float: left;
	border: 1px solid #74ACBE;
}
/*熱門職缺區塊*/
#job_vacancy_div {
	float: left;
	width: 240px;
	position: relative;
	margin-top: 3px;
}
/*熱門職缺區塊頂端*/
#job_vacancy_div .job_vacancy_box_head {
	background-image: url(../img/job_vacancy_box/job_vacancy_box_head.gif);
	background-repeat: no-repeat;
	height: 43px;
	width: 100%;
}
/*熱門職缺區塊內容*/
#job_vacancy_div .job_vacancy_box_mid {
	position: relative;
	height: 205px;
	width: 238px;
	background-image: url(../img/job_vacancy_box/job_vacancy_box_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #B85700;
	border-left-color: #B85700;
}
/*熱門職缺區塊下端*/
#job_vacancy_div .job_vacancy_box_foot {
	position: relative;
	height: 20px;
	width: 100%;
	background-image: url(../img/job_vacancy_box/job_vacancy_box_foot.gif);
	background-repeat: no-repeat;
}
/*推薦人才區塊的div*/
#best_talent_div {
	float: left;
	margin-top: 3px;
	margin-left: 3px;
	position: relative;
	width: 240px;
}
/*推薦人才區塊頂端*/
#best_talent_div .best_talent_box_head {
	background-image: url(../img/best_talent_box/best_talent_box_head.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 43px;
	width: 100%;
}
/*推薦人才區塊內容*/
#best_talent_div .best_talent_box_mid {
	background-image: url(../img/best_talent_box/best_talent_box_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	width: 238px;
	height: 205px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #3E3E3E;
	border-left-color: #3E3E3E;
}
/*推薦人才區塊下端*/
#best_talent_div .best_talent_box_foot {
	background-image: url(../img/best_talent_box/best_talent_box_foot.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 20px;
	width: 100%;
}
/*訊息快遞區塊的div*/
#hot_messege_div {
	width: 240px;
	margin-top: 3px;
	margin-left: 3px;
	position: relative;
	float: left;
}
/*訊息快遞區塊頂端*/
#hot_messege_div .hot_messege_box_head {
	background-image: url(../img/hot_messege_box/hot_messege_box_head.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 43px;
	width: 100%;
}
/*訊息快遞區塊內容*/
#hot_messege_div .hot_messege_box_mid {
	background-image: url(../img/hot_messege_box/hot_messege_box_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #6B2B01;
	border-left-color: #6B2B01;
	position: relative;
	height: 205px;
	width: 238px;
}
/*訊息快遞區塊下端*/
#hot_messege_div .hot_messege_box_foot {
	background-image: url(../img/hot_messege_box/hot_messege_box_foot.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 20px;
	width: 100%;
}
/*流量統計區塊的div*/
#statistics_div {
	width: 240px;
	margin-top: 3px;
	margin-left: 4px;
	position: relative;
	float: left;
}
/*流量統計區塊頂端*/
#statistics_div .statistics_box_head {
	background-image: url(../img/statistics_box/statistics_box_head.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 43px;
	width: 100%;
}
/*流量統計區塊內容*/
#statistics_div .statistics_box_mid {
	background-image: url(../img/statistics_box/statistics_box_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	height: 205px;
	width: 238px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #515151;
	border-left-color: #515151;
}
/*流量統計區塊下端*/
#statistics_div .statistics_box_foot {
	height: 20px;
	width: 100%;
	position: relative;
	background-image: url(../img/statistics_box/statistics_box_foot.gif);
	background-repeat: no-repeat;
}
/*底部選單的div*/
#bottom_menu_div {
	height: 34px;
	width: 970px;
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	float: left;
	background-image: url(../img/sj_bottom_meun.gif);
	background-repeat: no-repeat;
}
/*底部選單中，按鈕區域的div*/
#bottom_menu_div .bottom_menu_link_area {
	height: 25px;
	width: 800px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: center;
	font-size: 10pt;
	line-height: 18pt;
}
/*版權區塊的div*/
#copyright_div {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}
/*次分頁的按鈕區塊*/
#sub_button_div {
	position: relative;
	width: 100%;
	margin-top: 3px;
	height: 100px;
}

#navigation_button_11 {
	display: block;
	height: 100px;
	width: 240px;
	float: left;
	position: relative;
	background-image: url(../img/navigation_page/navigation_button_11.gif);
}
#navigation_button_21 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/navigation_page/navigation_button_21.gif);
}
#navigation_button_31 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/navigation_page/navigation_button_31.gif);
}
#navigation_button_41 {
	background-image: url(../img/navigation_page/navigation_button_41.gif);
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#navigation_button_10 {
	display: block;
	height: 100px;
	width: 240px;
	float: left;
	position: relative;
	background-image: url(../img/navigation_page/navigation_button_10.gif);
}
#navigation_button_20 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/navigation_page/navigation_button_20.gif);
}
#navigation_button_30 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/navigation_page/navigation_button_30.gif);
}
#navigation_button_40 {
	background-image: url(../img/navigation_page/navigation_button_40.gif);
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}

#conpany_button_11 {
	display: block;
	height: 100px;
	width: 240px;
	float: left;
	position: relative;
	background-image: url(../img/company_page/conpany_button_11.gif);
}
#conpany_button_21 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/company_page/conpany_button_21.gif);
}
#conpany_button_31 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/company_page/conpany_button_31.gif);
}
#conpany_button_41 {
	background-image: url(../img/company_page/conpany_button_41.gif);
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#conpany_button_10 {
	display: block;
	height: 100px;
	width: 240px;
	float: left;
	position: relative;
	background-image: url(../img/company_page/conpany_button_10.gif);
}
#conpany_button_20 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/company_page/conpany_button_20.gif);
}
#conpany_button_30 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/company_page/conpany_button_30.gif);
}
#conpany_button_40 {
	background-image: url(../img/company_page/conpany_button_40.gif);
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}

#student_button_11 {
	display: block;
	height: 100px;
	width: 240px;
	float: left;
	position: relative;
	background-image: url(../img/student_page/student_button_11.gif);
}
#student_button_21 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/student_page/student_button_21.gif);
}
#student_button_31 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/student_page/student_button_31.gif);
}
#student_button_41 {
	background-image: url(../img/student_page/student_button_41.gif);
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#student_button_10 {
	display: block;
	height: 100px;
	width: 240px;
	float: left;
	position: relative;
	background-image: url(../img/student_page/student_button_10.gif);
}
#student_button_20 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/student_page/student_button_20.gif);
}
#student_button_30 {
	float: left;
	height: 100px;
	width: 240px;
	margin-left: 3px;
	position: relative;
	background-image: url(../img/student_page/student_button_30.gif);
}
#student_button_40 {
	background-image: url(../img/student_page/student_button_40.gif);
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#guidance_button_11 {
	float: left;
	height: 100px;
	width: 240px;
	background-image: url(../img/guidance_page/guidance_button_11.gif);
	position: relative;
	background-repeat: no-repeat;
}
#guidance_button_21 {
	background-image: url(../img/guidance_page/guidance_button_21.gif);
	float: left;
	height: 100px;
	width: 240px;
	background-repeat: no-repeat;
	margin-left: 3px;
}
#guidance_button_31 {
	background-image: url(../img/guidance_page/guidance_button_31.gif);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#guidance_button_41 {
	background-image: url(../img/guidance_page/guidance_button_41.gif);
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	height: 100px;
	width: 240px;
	margin-left: 3px;
}
#guidance_button_10 {
	background-image: url(../img/guidance_page/guidance_button_10.gif);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
}
#guidance_button_20 {
	background-image: url(../img/guidance_page/guidance_button_20.gif);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#guidance_button_30 {
	background-image: url(../img/guidance_page/guidance_button_30.gif);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}
#guidance_button_40 {
	background-image: url(../img/guidance_page/guidance_button_40.gif);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 240px;
	position: relative;
	margin-left: 3px;
}


/*網站地圖的區塊*/
#navigation_div {
	height: 37px;
	width: 970px;
	margin-top: 3px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-image: url(../img/sj_navgation.gif);
	background-repeat: no-repeat;
}
#navigation_div .navigation_link_area {
	position: relative;
	margin-left: 3px;
	padding-top: 4px;
}
#sub_page_head_div {
	height: 40px;
	width: 100%;
	margin-top: 3px;
	position: relative;
	background-image: url(../img/sub_page/sup_page_head.gif);
	background-repeat: no-repeat;
}
#sub_page_head_div .sub_page_meun_01 {
	float: left;
	height: 29px;
	width: 150px;
	display: block;
	padding-top: 10px;
	text-align: center;
	background-color: #CACACA;
	background-image: url(../img/up_arr.gif);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 12pt;
	color: #333;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	margin-top: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	margin-left: 1px;
}
#sub_page_head_div .sub_page_meun_00 {
	float: left;
	height: 26px;
	width: 150px;
	display: block;
	padding-top: 10px;
	text-align: center;
	background-color: #F4F4F4;
	background-image: url(../img/up_arr.gif);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 12pt;
	color: #333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	margin-top: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
	margin-left: 1px;
}
#sub_page_mid_div {
	position: relative;
	height: 100%;
	width: 968px;
	background-image: url(../img/sub_page/sup_page_mid.gif);
	background-repeat: no-repeat;
	background-position: center top;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #3E3E3E;
	border-left-color: #3E3E3E;
	padding-top: 20px;
	padding-bottom: 10px;
}
#sub_page_mid_div .sub_td_menu_01 {
	display: block;
	background-color: #CBCBCB;
	height: 26px;
	width: 150px;
	float: left;
	position: relative;
	text-align: center;
	padding-top: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	font-family: "細明體";
	font-size: 10pt;
	color: #333333;
	background-image: url(../img/up_arr.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-decoration: none;
	font-weight: bold;
}
#sub_page_mid_div .sub_td_menu_00 {
	display: block;
	background-color: #F3F3F3;
	height: 25px;
	width: 150px;
	float: left;
	position: relative;
	text-align: center;
	padding-top: 14px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	font-family: "細明體";
	font-size: 10pt;
	color: #999;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}


#sub_page_foot_div {
	background-image: url(../img/sub_page/sup_page_foot.gif);
	background-repeat: no-repeat;
	position: relative;
	height: 20px;
	width: 100%;
}


#message_box_div {
	background-image: url(../img/box/answer_box_top.gif);
	background-repeat: no-repeat;
	height: 90px;
	width: 936px;
	background-position: left top;
	position: relative;
	visibility: inherit;
}
#answer_div {
	width: 357px;
	margin-right: auto;
	margin-left: 14px;
	margin-top: 12px;
	height: 66px;
	background-color: #dedede;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
}

.stu_menu1_0 {
	background-image: url(../img/student%20_c22/button_c22_1-0.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	display: block;
	text-decoration: none;
	margin-bottom: 1px;
}
.stu_menu1_1 {
	background-image: url(../img/student%20_c22/button_c22_1-1.gif);
	height: 50px;
	width: 200px;
	position: relative;
	background-repeat: no-repeat;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu2_0 {
	background-image: url(../img/student%20_c22/button_c22_2-0.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu2_1 {
	background-image: url(../img/student%20_c22/button_c22_2-1.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu3_0 {
	background-image: url(../img/student%20_c22/button_c22_3-0.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu3_1 {
	background-image: url(../img/student%20_c22/button_c22_3-1.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu4_0 {
	background-image: url(../img/student%20_c22/button_c22_4-0.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu4_1 {
	background-image: url(../img/student%20_c22/button_c22_4-1.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
	margin-bottom: 1px;
}
.stu_menu5_10 {
	background-image: url(../img/student%20_c22/button_c22_5-10.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_11 {
	background-image: url(../img/student%20_c22/button_c22_5_11.gif);
	background-repeat: no-repeat;
	height: 50px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_20 {
	background-image: url(../img/student%20_c22/button_c22_5-20.gif);
	background-repeat: no-repeat;
	height: 39px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_21 {
	background-image: url(../img/student%20_c22/button_c22_5_21.gif);
	background-repeat: no-repeat;
	height: 39px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_30 {
	background-image: url(../img/student%20_c22/button_c22_5-30.gif);
	background-repeat: no-repeat;
	height: 34px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_31 {
	background-image: url(../img/student%20_c22/button_c22_5_31.gif);
	background-repeat: no-repeat;
	height: 34px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_40 {
	background-image: url(../img/student%20_c22/button_c22_5-40.gif);
	background-repeat: no-repeat;
	height: 31px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_41 {
	background-image: url(../img/student%20_c22/button_c22_5_41.gif);
	background-repeat: no-repeat;
	height: 31px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_50 {
	background-image: url(../img/student%20_c22/button_c22_5-50.gif);
	background-repeat: no-repeat;
	height: 37px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_51 {
	background-image: url(../img/student%20_c22/button_c22_5_51.gif);
	background-repeat: no-repeat;
	height: 37px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_60 {
	background-image: url(../img/student%20_c22/button_c22_5-60.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.stu_menu5_61 {
	background-image: url(../img/student%20_c22/button_c22_5_61.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 200px;
	position: relative;
	text-decoration: none;
	display: block;
}
.bg_T {
	background-image: url(../img/box/answer_box_top.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
