.quickly_search_box_mid li {
	margin-left: 20px;
	font-size: 10pt;
	line-height: 16pt;
	display: inline;
	color: #83572C;
}
.quickly_search_box_mid a:link, #quickly_search_box_mid a:active, #quickly_search_box_mid a:visited {
	color: #666;
	text-decoration: none;
}
.quickly_search_box_mid a:hover{
	color: #399;
	text-decoration: underline;
	}
.job_vacancy_box_mid ul {
	list-style-type: disc;
	margin-left: 25px;
}
.job_vacancy_box_mid li  {
	font-size: 10pt;
	line-height: 20pt;
}
.job_vacancy_box_mid a:link, #quickly_search_box_mid a:active, #quickly_search_box_mid a:visited {
	color: #0072bc;
	text-decoration: none;
}
.job_vacancy_box_mid a:hover{
	color: #F00;
	text-decoration: underline;
	}
.best_talent_box_mid ul {
	font-size: 9pt;
	color: #000;
	line-height: 12pt;
}



a.link_float_01 {
	font-size: 10pt;
	color: #415F7C;
	text-decoration: underline;
	display: block;
	float: right;
}
a.link_float_02 {
	font-size: 12px;
	color: #E45314;
	text-decoration: underline;
	float: left;
	border-bottom-width: 1px;
}
a.link_float_03 {
	font-size: 12px;
	color: #06F;
	text-decoration: underline;
	float: left;
	border-bottom-width: 1px;
}
a.link_float_04 {
	font-size: 10pt;
	color: #399;
	text-decoration: underline;
	border: 1px solid #CCC;
	float: right;
}



a.link_white {
	font-size: 9pt;
	color: #FFF;
	text-decoration: none;
	font-family: "新細明體";
}
a.link_green {
	font-size: 9pt;
	color: #399;
	text-decoration: underline;
}
a.link_red {
	font-size: 9pt;
	color: #F00;
	text-decoration: underline;
	font-weight: bold;
}
a.link_red2 {
	font-size: 9pt;
	color: #F00;
	text-decoration: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F9F;
	border-right-color: #F6C;
	border-bottom-color: #F00;
	border-left-color: #FCF;
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-left: 2px;
}
.lien_01 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	text-indent: 10px;
}




.login_td_title {
	color: #41738D;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	font-size: 12pt;
	font-weight: bold;
}
.login_td_word {
	font-size: 10pt;
	color: #274656;
	text-decoration: none;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #BFD8E6;
}
.login_td_hint {
	font-size: 9pt;
	color: #666;
	text-decoration: none;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #BFD8E6;
}

.loign_input_text {
	height: 15px;
	width: 120px;
	border: 1px solid #8EC4C1;
}
.login_checkbox {
	vertical-align: middle;
}
.quick_search_select {
}
.statistics_td_word {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
}

.pic_border {
	border: 1px solid #000;
}

.pic_bottom {
	vertical-align: text-bottom;
}
.web_sbutton_pic {
	margin-left: 150px;
}
.sj_logo_pic {
	margin-left: 170px;
}


.exp_td_border {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #666;
	border-bottom-color: #666;
}
.word-big {
	font-size: 18pt;
	font-weight: bold;
	color: #FF6600;
}









.word_01 {
	font-size: 10pt;
	color: #333;
	text-decoration: none;
	width: 386px;
}
.word_02 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
.word_03 {
	font-size: 10pt;
	color: #999;
	text-decoration: none;
	line-height: 16pt;
}
.word_04 {
	font-family: "細明體";
	font-size: 10pt;
	font-weight: bold;
	color: #09C;
	text-decoration: none;
	letter-spacing: -1px;
	margin-right: 2px;
	margin-left: 2px;
}
.word_05 {
	font-size: 10pt;
	font-weight: bold;
	color: #F00;
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
}
.word_06 {
	font-size: 10pt;
	color: #333;
	line-height: 14pt;
}
.word_07 {
	font-size: 10pt;
	color: #06F;
	padding-left: 5px;
	line-height: 14pt;
}
.word_08 {
	font-size: 10pt;
	color: #06F;
	text-align: center;
}
.word_09 {
	font-size: 10pt;
	color: #F00;
	text-align: center;
}
.word_10 {
	font-size: 14pt;
	color: #000;
	font-weight: bold;
	display: block;
	width: 200px;
	float: right;
}
.word_11 {
	font-size: 10pt;
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
.word_12 {
	font-size: 14px;
	color: #0066FF;
	text-decoration: none;
	float: right;
	margin-top: 0px;
	margin-right: 5px;
}
.word_13 {
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	text-align: center;
}
.word_famous_1 {
	font-size: 10pt;
	color: #666666;
	line-height: 15pt;
	text-decoration: none;
}
.word_famous_2 {
	font-size: 10pt;
	color: #FF6600;
	text-decoration: none;
	font-weight: bold;
}















.title_01 {
	font-size: 10pt;
	font-weight: bold;
	color: #009;
	text-decoration: none;
	line-height: 16pt;
}
.title_02 {
	font-size: 14pt;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	line-height: 16pt;
	font-style: italic;
	display: inline;
	margin-right: 10px;
}


.p_content_01 {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 9pt;
	color: #000;
	line-height: 14pt;
}
.message_box {
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	background-image: url(../img/box/answer_box_m.gif);
	background-repeat: repeat-y;
}
.tabe_box_gray {
	border: 1px dotted #666666;
}
.table_box_1 {
	background-color: #FFFFCC;
	font-size: 10pt;
	text-decoration: none;
	color: #333333;
}
.table_box_2 {
	font-size: 10pt;
	color: #333333;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-image: url(../img/sj_title_green.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.table_01 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #333;
	border-bottom-color: #000;
	border-left-color: #999;
}
.table_01_title {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	background-color: #FFC;
	font-family: "細明體";
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999;
	border-bottom-color: #666;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
	text-align: right;
	padding-right: 5px;
}
.table_01_title2 {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	font-family: "細明體";
	text-align: center;
	background-image: url(../img/arr_up.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFF;
	background-color: #E9EFF5;
	line-height: 14pt;
}
.table_01_title3 {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	font-family: "細明體";
	text-align: center;
	line-height: 12pt;
}


.table_01_content_area {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	line-height: 20pt;
	padding: 10px;
}
.table_item {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	font-family: "細明體";
	text-align: left;
	line-height: 12pt;
	text-indent: 12px;
}


.table_01_content_area2 {
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #666;
	border-bottom-color: #333;
	border-left-color: #999;
}
.table_01_content_area3 {
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
	text-decoration: none;
	background-color: #FFF;
	vertical-align: middle;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.1em;
	background-image: url(../img/sj_title_blue.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.table_01_content_area4 {
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
	text-decoration: none;
	background-color: #FFF;
	vertical-align: middle;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.1em;
	background-image: url(../img/sj_title_red.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.table_01_content_area5 {
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
	text-decoration: none;
	background-color: #FFF;
	vertical-align: middle;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.1em;
	background-image: url(../img/sj_title_green.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.table_01_content_area6 {
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #666;
	border-bottom-color: #333;
	border-left-color: #999;
	padding: 5px;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	line-height: 14pt;
}
.table_01_content_area7 {
	font-size: 9pt;
	color: #666;
	text-decoration: none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.table_01_content_area8 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	line-height: 18pt;
	padding: 8px;
}
.table_01_content_area9 {
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	line-height: 20pt;
	padding: 5px;
	border: 1px solid #E9E9E9;
	background-color: #FFFFCC;
}
.table_01_content_area10 {
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
	line-height: 16pt;
	padding: 10px;
	border: 1px solid #E9E9E9;
	background-color: #FFFF99;
}
.table_01_content_area11 {
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
	text-decoration: none;
	background-color: #FFF;
	vertical-align: middle;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.1em;
	background-image: url(../img/sj_title_purple.gif);
	background-repeat: no-repeat;
	background-position: left;
}

.table_01_menu {
	background-image: url(../img/sj_td_bg.gif);
	background-repeat: repeat-x;
}
.table_02_menu {
	background-image: url(../img/sj_td_bg.gif);
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-left-color: #333333;
}

.table_01_foot {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #666;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	text-align: center;
}
.table_02 {
	border: 1px solid #0066CC;
	background-color: #FFFF99;
	font-size: 10pt;
	color: #000000;
	line-height: 16pt;
}



.input_text_01 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
	height: 20px;
	vertical-align: middle;
}
.input_textarea_01 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #999;
	border-bottom-color: #666;
	border-left-color: #CCC;
}
.input_button01 {
	background-image: url(../img/sj_sbutton01.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 80px;
	font-size: 9pt;
	color: #F00;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.input_button02 {
	background-image: url(../img/sj_sbutton02.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 80px;
	font-size: 9pt;
	color: #090;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.input_button03 {
	background-image: url(../img/sj_sbutton03.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 80px;
	font-size: 9pt;
	color: #06F;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.input_button04 {
	background-image: url(../img/sj_sbutton04.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 50px;
	font-size: 9pt;
	color: #06F;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 5px;
}
.input_button05 {
	background-image: url(../img/sj_sbutton05.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 50px;
	font-size: 9pt;
	color: #FF0000;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 5px;
}




.select_obj {
	color: #666;
	float: left;
	margin-right: 3px;
	padding-right: 5px;
	padding-left: 2px;
	margin-top: 5px;
	padding-top: 2px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #666;
	border-bottom-color: #333;
	border-left-color: #CCC;
	width: 200px;
	position: relative;
}

.lamp5 {
	height: 20px;
	width: 120px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-family: "新細明體";
	color: #2F3D44;
	text-decoration: none;
	font-size: 9pt;
}
.lamp20 {
	height: 32px;
	width: 362px;
	background-image: url(../img/lamp/lamp20_show.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: auto;
	margin-left: auto;
	font-size: 9pt;
	padding-top: 15px;
	font-family: "新細明體";
	color: #2F3D44;
	text-decoration: none;
}
