#bottom {
	p {
		line-height: 1.5em;
		color: lighten(black, 40%);
	}
	h2 {
		font-size: 18px;
		font-weight: normal;
	}
	.span3 {
		.round-corner;
	}
	#share {
		h2 {
			display: inline-block;
		}
		#read-tool {
			text-align: center;
		}
		p {
			img {
				float: left;
				margin: 0 5px 5px 0;
			}
		}
		.tab-content {
			width: 100%;
		}
		#share-tab {
			margin-top: 18px;
			float: right;
			.opacity(0.25);
			&:hover {
				.opacity(1);
			}
		}
	}
	#rec {
		h2 {
			display: inline-block;
		}
		p {
			margin: 0;
		}
		#rec-tab {
			margin-top: 18px;
			float: right;
			.opacity(0.25);
			&:hover {
				.opacity(1);
			}
		}
		#member {
			margin: 0;
			font-size: 11px;
			list-style-type: none;
			img {
				float: left;
				margin: 0 5px 5px 0;
			}
		}
	}
	#news {
		h2 {
			display: inline-block;
		}
		#news-tab {
			margin-top: 18px;
			float: right;
			.opacity(0.25);
			&:hover {
				.opacity(1);
			}
		}
		p {
			img {
				float: left;
				margin: 0 5px 5px 0;
			}
		}
	}
	#stat {
		font-size: 11px;
	}
}