#header {
	.container {
		border-style: none;
		background: 0;
	}
	background-color: @green;
	.gradient (@green, darken(@green, 2%));
	.inner-shadow(0, -5px, 10px, 0, 0.1);
	color: white;
	padding: 15px 0;
	h1 {
		font-weight: normal;
		display: inline-block;
		float: left;
	}
	#nav {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding-top: 15px;
		padding-left: 25px;
		float: left;
		li {
			float: left;
			line-height: 30px;
			margin-right: 20px;
			a {
				padding: 10px 0;
				color: darken(white, 10%);
				text-decoration: none;
				.trans;
				&.active,
				&:hover {
					border-bottom: 3px solid white;
					color: white;
					background: 0;
				}
			}
			a.active {
				border-bottom: 3px solid white;
			}
		}
	}
	.form-inline {
		text-align: right;
		padding: 12px 0;
		margin: 0;
		float: right;
		* {
			.opacity(0.7);
			.trans;
		}
		input {
			.gradient (white, darken(white, 10%));
			margin-right: 5px;
			&:focus {
				.opacity(1);
			}
		}
	}
}