#job-board {
	h2 {
		font-size: 20px;
		color: darken(@green, 3%);
		padding: 0 10px;
	}
	#filter {
		float: right;
		margin-top: 15px;
	}
	#job-list {
		list-style-type: none;
		margin: 0;
		&>li {
			padding: 5px 10px;
			clear: both;
			h3 {
				font-size: 14px;
				font-weight: bold;
				float: left;
				line-height: 20px;
				padding-right: 10px;
				margin: 0;
				a {
					color: black;
					text-decoration: none;
					&:hover {
						border-bottom: 1px solid @green;
					}
				}
			}
			ul {
				list-style-type: none;
				float: left;
				margin: 0;
				width: 580px;
				li {
					line-height: 20px;
					float: left;
					a {
						margin-left: 10px;
						color: lighten(black, 40%);
						text-decoration: none;
						&:hover {
							border-bottom: 1px solid @green;
						}
					}
				}
			}
		}
	}
}
