.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.multi-bg (
	@color: 		"#fff",
	@bgimg: 		"../images/img.jpg",
	@pos:				50% 50%,
	@repeat: 		repeat,
	@begin: 		#fff,
	@end: 			#000,
	@switch:		100% 
) {
	background: @color url(@bgimg) @pos @repeat;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(@begin), 
							color-stop(@switch, @end)),
							@color url(@bgimg) @pos @repeat;
	background: -webkit-linear-gradient(top, @begin, @end @switch),
							@color url(@bgimg) @pos @repeat;
	background: -o-linear-gradient(top, @begin, @end @switch),
							@color url(@bgimg) @pos @repeat;
	background: -moz-linear-gradient(top, @begin, @end @switch),
							@color url(@bgimg) @pos @repeat;
	background: linear-gradient(top, @begin, @end @switch),
							@color url(@bgimg) @pos @repeat;
}
.round-corner (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}
.opacity (@opacity:1) {
        @freaking-ie: @opacity * 100;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{freaking-ie})";
        filter: alpha(opacity=@freaking-ie);
        -webkit-opacity: @opacity;
        -khtml-opacity: @opacity;
        -moz-opacity: @opacity;
        opacity: @opacity;
}       
.trans {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: scale(1);
	-webkit-backface-visibility: hidden;
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}