#navi {
	.each-navi {
		width: 25%;
		height: 253px;
		float: left;
		background-repeat: no-repeat;
		background-position: top left;
		.inner-shadow(0px , 5px, 10px, 0, 0.15);
		overflow: hidden;
		position: relative;
		.trans;
		border-bottom: 1px solid lighten(black, 90%);
		&:hover {
			div {
				top: -245px;
				left: 0;
				.opacity(0.97);
			}
		}
		div {
			.opacity(0.9);
			margin-top: 250px;
			background-color: white;
			position: relative;
			top: -50px;
			left: 0;
			.trans;
			height: 300px;
			width: 100%;
			.inner-shadow(0px , 5px, 10px, 0, 0.15);
			h2 {
				text-indent: 10px;
				a {
					color: darken(@green, 3%);
					text-decoration: none;
					line-height: 60px;
					line-height: 1 \9;
				}
			}
			ul {
				list-style-type: none;
				margin: 0;
				li {
					border-top: 1px solid lighten(black, 90%);
					a {
						display: block;
						padding: 5px 13px;
						.trans;
						color: @green;
						&:hover {
							background-color: @green;
							color: white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	#navi-1 {
		background-image: url('../img/navi-1.png');
	}
	#navi-2 {
		background-image: url('../img/navi-2.png');
	}
	#navi-3 {
		background-image: url('../img/navi-3.png');
	}
	#navi-4 {
		background-image: url('../img/navi-4.png');
	}
}