@green: rgb(102, 175, 51);

body {
	font-family: 'Open Sans', "黑體-繁","Heiti TC","微軟正黑體","Microsoft JhengHei","新細明體",serif;
	-webkit-font-smoothing: antialiased;
	background-image: url('../img/bg.png');
}

a {
	color: @green;
	text-decoration: none;
	&:hover {
		color: darken(@green, 10%);
		text-decoration: none;
		border-bottom: 1px solid @green;
	}
}

.container {
}

.btn {
	font-size: 11px;
}

#main {
	padding-bottom: 10px;
	background-color: white;
	.round-corner(0 0 10px 10px);
	.shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.2));
}

p.more {
	text-align: right;
	padding: 0 10px;
}

hr.three-d {
	border-top-color: lighten(black, 87%);
	border-bottom-width: 2px;
}

#footer {
	text-align: center;
	font-size: 12px;
	margin-bottom: 10px;
	p {
		margin-bottom: 0px;
		color: lighten(black, 50%);
		.text-shadow(0 1px 0px white);
	}
}